/* For desktop: */



.container-fluid {
  transform: scale(4);
 	padding: 460px;
  max-width: 600px;


 }


 .nopadding {
   padding: 1px !important;
   margin: 0 !important;
   background-color: grey;
   border-spacing: 5px;
   border: 1px solid black;

   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  
  

}
 }

 #stack{
   margin-left: 190px;
 #display {
   background-color: grey;
   border: none;
   text-align: right;
   padding: 10px 10px;
 }


@media screen and (max-width:480px){
  .container {
    width: 100%;
  }
 }
   

}

